<script id="entry-template" type="text/x-handlebars-template">

  {{#each softwares}}
  <div class="software__item">
    <h1 class="software__title">{{@index}} = {{name}} test</h1>
    <div class="software__description">
      {{description}}
    </div>
  </div>
  {{/each}}
  
</script>